$cWhite: white;
$cBlack: rgb(18, 18, 18);
$cMask: rgba(0, 0, 0, 0.8);
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1200px;
$navHeight: 100px;
$cBoxShadow: rgba(0, 0, 0, 0.1);
