$cWhite: white;
$cBlack: rgb(7, 7, 7);
$cBgGray: #4f4f4f;
$contentMaxWidth: 1000px;
$contentMaxWidthFT: 1300px;
$cMainBg: rgb(247, 244, 232);
$cTBYello: rgba(217, 226, 48, 0.714);
$cTBWRed: rgba(129, 11, 11, 0.714)