@use "../globals" as *;

body {
  font-family: 'Noto Sans', 'Noto Sans JP', 'Source Serif Pro', sans-serif;
  color: $cBlack;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.flex {
  @include mq(md) {
    display: flex;
  }
}

.content-width {
  @include mq(md) {
    max-width: $contentMaxWidth;
    margin: 0 auto;
  }
}

// margin-bottom
.mb-sm {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 27px !important;
}

.mb-lr {
  margin-bottom: 40px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

// font
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 16px;
}
.font-lr {
  font-size: 18px;
}
.font-lg {
  font-size: 27px;
}

