@use "../globals" as *;

body {
  font-family: 'Noto Sans', 'Noto Sans JP', 'Source Serif Pro', sans-serif;
  color: $cBlack;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

// レイアウト
.ly {
  width: 90%;
  margin: 0 auto;
}

// margin-bottom
.mb-sm {
  margin-bottom: 20px !important;
}

.mb-md {
  margin-bottom: 40px !important;
}

.mb-lr {
  margin-bottom: 60px !important;
}

.mb-lg {
  margin-bottom: 110px !important;
}

// padding-bottom
.pb-sm {
  padding-bottom: 10px;
}

// font
.font-sm {
  font-size: 11px;
}
.font-md {
  font-size: 14px;
}
.font-lr {
  font-size: 20px;
}
.font-lg {
  font-size: 27px;
}

// border
.bb {
  border-bottom: 1px solid $cBgGray;
}

// flex 
.flex {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
  }
}

