body {
    font-size: 22px;
}

.title-cover > p {
    margin-top: 12%;
}

.mobile-menu-btn {
    width: 30%;
    height: 50%;
    margin-right: 3%;
    margin-top: 3%;
}

span {
    width: 75px;
    height: 4px;
    margin-bottom: 18px;
}

main {
    margin-top: 30%;
}

h1 {
    font-size: 22px;
}

article {
    p {
        font-size: 18px;
    }
}

.menu-open {

     .mobile-menu-btn {
        & > span {

            &:nth-child(1) {
                transition-delay: 70ms;
                transform: translateY(22px) rotate(135deg);
            }
            &:nth-child(2) {
                transition-delay: 0s;
                transform:  translateX(-18px) scaleX(0);
            }
            &:nth-child(3) {
                transition-delay: 140ms;
                transform: translateY(-22px) rotate(-135deg);
            }
        }
    }
}