body {
    font-size: 18px;
    letter-spacing: 3px;
} 

header {
    height: 350px;
    border-bottom: 1px solid #707070;
}

.title-cover {
    flex: 3;
    border-right: 1px solid #707070;
    margin: 0;
    height: 400px;
    padding-right: 4.2%;
}

.title_mb {
    display: none;
}

.title_dt {
    display: inline-block;
    width: 20%;
    left: 6%;
    top: 10%;
    position: fixed;
    animation-name: l_slide;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-duration: 2s;
}

.title-cover > p {
    display: none;
}

header {
    nav {
        display: inline-block;
        flex: 7;
    }
}


ul {
    display: flex;
    margin-top: 180px;
    margin-left: 10%;

}

li {
    list-style: none;
    margin-right: 65px;
    animation-name: r_slide;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-duration: 2s;
}

a {
    color: #707070;
}

.mobile-menu-btn {
    display: none;
}

main {
    margin-top: 0;
    display: flex;
    border-top: none;
}

.mobile_img {
    display: none;
}

.dt_img {
    display: inline-block;
    width: 100%;
    animation-name: op;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-duration: 2s;
}


.main_box1 {
    display: block;
    width: 33%;
    border-right: 1px solid #707070;
    p {
        font-size: 20px;
        top: 500px;
        left: 9%;
        animation-name: l_slide;
        animation-timing-function: ease;
        animation-fill-mode: backwards;
        animation-duration: 2s;
    }
}

.main_contents {
    width: 55%;
    
}

.main_box3 {
    display: block;
    border-left: 1px solid #707070;
    width: 10%;
    p {
        font-size: 14px;
        top: 500px;
        right: 3%;
        white-space: nowrap;
        writing-mode: vertical-rl;
        animation-name: r_slide;
        animation-timing-function: ease;
        animation-fill-mode: backwards;
        animation-duration: 2s;
    }
}

.main_box1, .main_box3 {
    p {
        position: fixed;
        // margin: 100% 50%;
        display: inline-block;
        
    }
}

footer {
    display: none;
}

@keyframes l_slide {
    from {
        transform: translateX(-20%);
        opacity: 0.5;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes r_slide {
    from {
        transform: translateX(50%);
        opacity: 0.5;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes op {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}



