@use "../globals" as *;

body {
  font-family: 'Noto Sans', 'Noto Sans JP', 'Source Serif Pro', sans-serif;
  color: $cBlack;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: $cBlack;
}

.flex {
  display: flex;
}
.resFlex {
  @include mq(md) {
    display: flex;
  }
}

.content-width {
  padding: 0 20px;
  max-width: $contentMaxWidth;
  margin: 0 auto;
  // @include mq(md) {
  //   max-width: 100%;
  //   // margin: 0;
  // }
}

// margin-bottom
.mb-sm {
  margin-bottom: 15px !important;
  @include mq(md) {
    margin-bottom: 30px !important;
  }
}

.mb-md {
  margin-bottom: 27px !important;
  @include mq(md) {
    margin-bottom: 50px !important;
  }
}

.mb-lr {
  margin-bottom: 60px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

// font
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 16px;
}
.font-lr {
  font-size: 20px;
}
.font-lg {
  font-size: 36px;
}

