$breakpoints: (
  // 480px以上(スマホの横向き)のモニタで適用
  'sm': 'screen and (min-width: 480px)',
  // 897px以上のタブレットやモニタで適用
  'md': 'screen and (min-width: 897px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
