$cWhite: white;
$cTp: rgba(252, 252, 252, 0);
$cBlack: rgb(70, 70, 70);
$cBlackBox: rgba(0, 0, 0, 0.619);
$cBgGray: #c6c6c6;
$cHvGray: #686868;
$cContainGray: #eeeeee;
$cDarkBlue: #302f36;
$contentMaxWidth: 1060px;
