@use "globals" as *;
@use "parts/common" as *;

// header 
.header {
    padding-top: 50px;
    margin-bottom: 7px;
    &__h1 {
        font-weight: 300;
        width: 97.5%;
    }
}

// main 
.main {

    // メインビジュアル
    &__imgContainer {
        width: 97.5%;
    }

    // index 
    &__index {
        background-color: $cWhite;
        padding: 25px 0;
    }
    &__ol {
        padding-left: 20px;
    }

    // detail 
    &__detail {
        @include mq(lg) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__detailInner {
        width: 100%;
        
        @include mq(lg) {
            &:nth-child(1) {
                width: 44%;
            }
        }
        &:nth-child(2) {
            @include mq(lg) {
                margin-top: 50px;
                width: 45%;
            }
        }
    }
    &__detailImg {
        width: 100%;
    }
    &__dl {
        border-top: 1px solid $cBgGray;
        border-bottom: 1px solid $cBgGray;
        padding: 15px 0;
    }
    &__dt {
        width: 25%;
    }
    &__a {
        color: $cBlack;
        cursor: pointer;
        display: block;
        &:hover {
            color: $cHover;
        }
    }
}

.footer {
    font-size: 10px;
    padding-bottom: 15px;
    &__copy {
        @include mq(lg) {
            padding: 0;
        }
    }
}