body {
  font-family: "Noto Serif", serif;
  color: rgb(70, 70, 70);
  letter-spacing: 2px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}
a:hover {
  color: #888887;
}

.flex {
  display: flex;
}

@media screen and (min-width: 900px) {
  .resFlex {
    display: flex;
  }
}

.content-width {
  width: 92%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .content-width {
    width: 100%;
    margin: 0;
  }
}

.mb-sm {
  margin-bottom: 8px !important;
}

.mb-md {
  margin-bottom: 38px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.font-sm {
  font-size: 15px;
}

.font-md {
  font-size: 16px;
}

.font-lr {
  font-size: 18px;
}

.font-lg {
  font-size: 21px;
}

.header {
  height: 350px;
}
@media screen and (min-width: 900px) {
  .header {
    position: relative;
    border-bottom: 1px solid rgb(70, 70, 70);
  }
}
.header__pcLogo, .header__nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .header__pcLogo, .header__nav {
    display: block;
  }
}
.header__spLogo {
  width: 300px;
  margin: 50px auto;
}
.header__spLogo, .header__spText {
  transform: translateX(20px);
}
.header__hMenu {
  display: block;
  width: 45px;
  margin-top: 30px;
  border: none;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}
.header__hMenu > span {
  display: block;
  width: 35px;
  height: 2px;
  margin-bottom: 10px;
  background-color: rgb(70, 70, 70);
}
.header__hMenu > span:last-child {
  margin-bottom: 0;
}
.header__hMenuUl {
  display: none;
}
.header__wrapper {
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .header__wrapper {
    width: 33%;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(70, 70, 70);
    height: 100vh;
  }
}
@media screen and (min-width: 900px) {
  .header__spLogo, .header__hMenu, .header__spText {
    display: none;
  }
}
.header__nav {
  padding-left: 41%;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    padding-left: 56%;
  }
}
@media screen and (min-width: 900px) {
  .header__ul {
    justify-content: space-between;
    width: 500px;
    line-height: 390px;
    animation: slide-right 2s;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(30px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.header__pcLogo {
  margin-bottom: 300px;
  width: 78%;
  padding-left: 18%;
  padding-top: 30px;
}
@media screen and (min-width: 900px) {
  .header__pcLogo {
    animation: slide-left 2s;
  }
}
@keyframes slide-left {
  from {
    transform: translateX(-30px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  .main {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .main section {
    padding-left: 8%;
  }
}
.main__wrapper1 {
  flex: 3.3;
}
.main__wrapper2 {
  flex: 5.5;
}
.main__box {
  flex: 1.2;
  border-left: 1px solid rgb(70, 70, 70);
}
.main__pcImg {
  display: none;
}
@media screen and (min-width: 900px) {
  .main__pcImg {
    display: block;
    width: 100%;
    animation: tp 2s;
  }
}
@keyframes tp {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.main__spImg {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .main__spImg {
    display: none;
  }
}
.main__subTitle {
  border-bottom: 1px solid rgb(70, 70, 70);
  width: 100%;
  padding-bottom: 10px;
}
.main__webWorks {
  width: 96%;
  border-bottom: 1px solid rgb(70, 70, 70);
}
@media screen and (min-width: 900px) {
  .main__webWorks {
    width: 90%;
  }
}
.main__subTitle2 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(70, 70, 70);
}
.main__text {
  width: 94%;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 900px) {
  .main__text {
    padding-right: 5%;
  }
}
.main__pcText {
  display: none;
}
@media screen and (min-width: 900px) {
  .main__pcText {
    display: block;
    position: fixed;
    top: 510px;
    left: 9%;
    transition: all 0.3s;
    animation: slide-left 1.4s;
  }
}

.footer {
  border-top: 1px solid rgb(70, 70, 70);
  font-size: 11px;
}
.footer__spCopy {
  padding: 15px 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .footer__spCopy {
    display: none;
  }
}
.footer__pcCopy {
  padding: 15px 0;
}
.footer__box1, .footer__box2, .footer__box3 {
  display: none;
}
@media screen and (min-width: 900px) {
  .footer__box1, .footer__box2, .footer__box3 {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .footer__box1 {
    flex: 3.9;
  }
}
@media screen and (min-width: 900px) {
  .footer__box2 {
    flex: 4.9;
  }
}
@media screen and (min-width: 900px) {
  .footer__box3 {
    flex: 1.2;
    border-left: 1px solid rgb(70, 70, 70);
    height: 50px;
  }
}

body.menuOpen {
  background-color: #1c1c1c;
}
body.menuOpen .header {
  position: relative;
}
body.menuOpen .header__wrapper, body.menuOpen .header__nav {
  display: none;
}
body.menuOpen .header__hMenu {
  position: absolute;
  top: 0;
  right: 0;
}
body.menuOpen .header__hMenu > span {
  background-color: white;
  transition: all 0.3s;
}
body.menuOpen .header__hMenu > span:first-child {
  transform: rotatez(-45deg) translate(-9px, 10px);
  transition-delay: 30ms;
}
body.menuOpen .header__hMenu > span:nth-child(2) {
  transform: translateX(-18px) scale(0);
}
body.menuOpen .header__hMenu > span:last-child {
  transform: rotateZ(45deg) translate(-6px, -8px);
  transition-delay: 60ms;
}
body.menuOpen .header__hMenuUl {
  display: block;
  margin-top: 200px;
  margin-left: 6%;
}
body.menuOpen .header__hMenuLi {
  color: white;
  list-style: none;
  border-bottom: 1px solid white;
}
body.menuOpen .header__hMenuA {
  color: white;
}
body.menuOpen .main, body.menuOpen .footer {
  display: none;
}/*# sourceMappingURL=style.css.map */