@use "globals" as *;
@use "parts/common" as *;

// header 
.header {
    height: 350px;
    @include mq(md) {
        position: relative;
        border-bottom: 1px solid $cBlack;
    }
    
    &__pcLogo, &__nav {
        display: none;
        @include mq(md) {
            display: block;
        }
    }
    
    &__spLogo {
        width: 300px;
        margin: 50px auto;
        
    }
    &__spLogo, &__spText {
        transform: translateX(20px);
    }
    &__hMenu {
        display: block;
        width: 45px;
        margin-top: 30px;
        border: none;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
        z-index: 10;

        & > span {
            display: block;
            width: 35px;
            height: 2px;
            margin-bottom: 10px;
            background-color: $cBlack;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__hMenuUl {
        display: none;
    }
    &__wrapper {
        text-align: center;
        justify-content: space-between;
        margin: 0 auto;
        @include mq(md) {
            width: 33%;
            position: fixed;
            padding-top: 50px;
            top: 0;
            left: 0;
            border-right: 1px solid $cBlack;
            height: 100vh;
        }
    }
    &__spLogo, &__hMenu, &__spText {
        @include mq(md) {
            display: none;
        }
    }
    &__nav {
        padding-left: 41%;
        @include mq(lg) {
            padding-left: 56%;
        }
    }
    &__ul {
        @include mq(md) {
            justify-content: space-between;
            width: 500px;
            line-height: 390px;
            animation: slide-right 2s;
        }
        @keyframes slide-right {
            from {
                transform: translateX(30px);
                opacity: 0.5;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    &__pcLogo {
        margin-bottom: 300px;
        width: 78%;
        padding-left: 18%;
        padding-top: 30px;
        @include mq(md) {
            animation: slide-left 2s;
        }

        @keyframes slide-left {
            from {
                transform: translateX(-30px);
                opacity: 0.5;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

// main 
.main {
    @include mq(md) {
        width: 100%;
    }
    section {
        @include mq(md) {
            padding-left: 8%;
        }
    }
    &__wrapper1 {
        flex: 3.3;
    }
    &__wrapper2 {
        flex: 5.5;
    }
    &__box {
        flex: 1.2;
        border-left: 1px solid $cBlack;
    }
    &__pcImg {
        display: none;
        @include mq(md) {
            display: block;
            width: 100%;
            animation: tp 2s;
        }
        @keyframes tp {
            from {
                opacity: 0.5;
            }
            to {
                opacity: 1;
            }
        }
    }
    &__spImg {
        width: 100%;
        @include mq(md) {
            display: none;
        }
    }

    &__subTitle {
        border-bottom: 1px solid $cBlack;
        width: 100%;
        padding-bottom: 10px;
    }
    &__webWorks {
        width: 96%;
        margin: 0 auto;
        border-bottom: 1px solid $cBlack;
        @include mq(md) {
            width: 90%;
            margin: 0;
        }
    }
    &__subTitle2 {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 5px;
        border-bottom: 1px solid $cBlack;
        @extend .mb-lr;
        &:nth-of-type(2), &:nth-of-type(3) {
            margin-top: 110px;
        }
    }
    
    &__text {
        width: 94%;
        margin: 0 auto;
        display: block;
        @include mq(md) {
            padding-right: 5%;
        }
    }
    &__pcText {
        display: none;
        @include mq(md) {
            display: block;
            position: fixed;
            top: 510px;
            left: 9%;
            transition: all 0.3s;
            animation: slide-left 1.4s;
        }
    }
    &__ul {
        padding: 0;
        @include mq(sm) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include mq(md) {
            display: block;
        }
        @include mq(lg) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__li {
        @extend .mb-lr;
        @include mq(sm) {
            flex-basis: 48%
        }
        @include mq(lg) {
            flex-basis: 48%
        }
    }
    &__workImg {
        @extend .mb-sm;
        border: 1px solid $cBlack;
    }
    &__workP {
        margin-left: 30px;
    }
}

// footer 
.footer {
    border-top: 1px solid $cBlack;
    font-size: 11px;
    &__spCopy {
        padding: 15px 0;
        text-align: center;
        @include mq(md) {
            display: none;
        }
    }
    &__pcCopy {
        padding: 15px 0;
    }
    &__box1, &__box2, &__box3 {
        display: none;
        @include mq(md) {
            display: block;
        }
    }
    &__box1 {
        @include mq(md) {
            flex: 3.9;
        }
    }
    &__box2 {
        @include mq(md) {
            flex: 4.9;
        }
    }
    &__box3 {
        @include mq(md) {
            flex: 1.2;
            border-left: 1px solid $cBlack;
            height: 50px;
        }
    }
    
}

// hMenu open 
body.menuOpen {
    background-color: $cMenuBlack;
    .header {
        position: relative;
        &__wrapper, &__nav {
            display: none;
        }
        &__hMenu {
            position: absolute;
            top: 0;
            right: 0;
            & > span {
                background-color: $cWhite;
                transition: all 0.3s;
                &:first-child {
                    transform: rotatez(-45deg) translate(-9px, 10px);
                    transition-delay: 30ms;
                }
                &:nth-child(2) {
                    transform: translateX(-18px) scale(0);
                }
                &:last-child {
                    transform: rotateZ(45deg) translate(-6px, -8px);
                    transition-delay: 60ms;
                }
            }
    
        }
        &__hMenuUl {
            display: block;
            margin-top: 200px;
            margin-left: 6%;
        }
        &__hMenuLi {
            color: $cWhite;
            list-style: none;
            border-bottom: 1px solid $cWhite;
        }
        &__hMenuA {
            color: $cWhite;
        }
    }
    .main, .footer {
        display: none;
    }
}