$breakpoints: (
  // 480px以上(スマホの横向き)のモニタで適用
  'sm': 'screen and (min-width: 480px)',
  // 900px以上のモニタで適用
  'md': 'screen and (min-width: 900px)',
  // 1360px以上のモニタで適用
  'lg': 'screen and (min-width: 1360px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
